* {
    margin: 0;
  }
  
  html {
    height: 100%;
    width: 100%;
    background-color: white;
  }
  .wrapper {
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 8px;
  }
  
  .box {
    width: 275px;
    height: 300px;
    border-radius: 15px;
    border: 3px solid green;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.box h2{
  background-color:  rgb(248, 209, 131);
  text-align: center;
  margin-top: 15px;
  margin: 10px;
 border-radius: 30%;


}
  

h3 {
  text-align: left;
font-size: .5cm;
  position: relative;
  font-weight: lighter;
  top: 300px;

}

  
  .articles {
    width: 95%;
    height: 68%;
    background-color: aquamarine;
    padding: 20px;
    margin-left: 2%;
    border-radius: 15px;
    position: absolute;
    box-sizing: border-box;
    top: 150px;
  }

  h1{
    margin-bottom: 16px;
    color:black;
    font-size: 1.5cm;
    text-align: center;
    position: relative;
    top: 120px;
    z-index: 1;
  }
  p {
    position:relative; 
    text-align: left;
     left:500px;
  }
  p {
    margin: 30px;
    font-size: x-large;
    position: absolute;
    top:720px;
    background-color:rgb(106, 199, 30);
    border: 1px solid black;
    border-radius: 5px;
}